.z_grid {
   // display: grid;
   // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   //  grid-template-rows: masonry;
   //gap: 2rem;

    .z_grid_item {
       width: 33%;

       @media screen and (max-width: 800px) {
          width: 49%;
          margin: calc(2%/6);
       }
       @media screen and (max-width: 600px) {
          width: 99%;
          margin: calc(1%/2);
       }
      display: grid;
      margin: calc(1%/8);
      
      align-items: center;
      //   position: relative;
      //   overflow: hidden;
      //   border-radius: 1rem 1rem 0 0;
      //   border-bottom: 10px solid _palette(text-color);

        .z_message {
            font-size: 18px;
            font-weight: 200;
            background: rgba(213, 214, 221, 0.507);
            color: _palette(text-color);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            line-height: 1.5;
           
            
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                font-family: 'Port Lligat Sans', sans-serif;
                padding: 3rem;

                span {
                    display: block;
                    width: 100%;
                    text-align: right;
                    font-family: 'Grand Hotel', cursive;
                }
            }
        }

        .class_1 {
           background-color: _palette(bg-one); 
        }
        .class_2 {
           background-color: _palette(bg-two); 
        }
        .class_3 {
           background-color: _palette(bg-three); 
        }
        .class_4 {
           background-color: _palette(bg-four); 
        }
        .class_5 {
           background-color: _palette(bg-five); 
        }
        .class_6 {
           background-color: _palette(bg-six); 
        }
        .class_7 {
           background-color: _palette(bg-seven); 
        }
        .class_8 {
           background-color: _palette(bg-eight); 
        }
        .class_9 {
           background-color: _palette(bg-nine); 
        }
        .class_0 {
           background-color: _palette(bg-ten); 
        }
    }
}